<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>小小说说</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
    <link href="/css/cropper.min.css" rel="stylesheet">
    <link href="/css/sitelogo.css" rel="stylesheet">
</head>

<body>
<div id="show-index">
<!--网页的导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">小小说说</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li v-bind:class="{active:mainContainer}"><a v-on:click="allTalk" href="javascript:;">全部说说</a></li>
                <li v-bind:class="{active:myTalklist}"><a v-on:click="myTalk" href="javascript:;">我的说说</a></li>
                <li v-bind:class="{active:memberlist}"><a v-on:click="members" href="javascript:;">成员列表</a></li>
            </ul>

            <div v-if="unlogin" class="navbar-form navbar-right">
                <div id="login-form" class="login-form">
                    <div class="form-group">
                        <input v-model="inputUsername" v-on:keyup.enter="loginMethod" type="text" placeholder="昵称(至少3位 可以中文)" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <input v-model="inputPassword" v-on:keyup.enter="loginMethod" type="password" placeholder="密码(至少6位)" class="form-control" id="password">
                    </div>
                    <button v-on:click="loginMethod" id="btn-login" class="btn btn-success">登录</button>
                    <button v-on:click="signinMethod" id="btn-signin" class="btn btn-success">注册</button>
                </div>
            </div>

            <ul v-else class="nav navbar-nav navbar-right">
                <li>
                    <a v-on:click="myTalk" href="javascript:;">
                        <img v-bind:src="'/avatar/'+avatar" class="img-circle avatar-img">
                    </a>
                </li>
                <li><a href="#" class="own-username">{{username}}</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modify-profile">修改个人资料</a></li>
                <li><a href="#" v-on:click="quitMethod" id="btn-quit">退出登录</a></li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div v-if="unlogin" class="container-fluid brief-fluid">
        <div class="jumbotron">
            <div class="container">
                <!--<div class="alert alert-dismissible" role="alert">-->
                    <!--<strong></strong><span></span>-->
                <!--</div>-->
                <alert-box v-if="alertDis" v-bind:text1="text1" v-bind:text2="text2"></alert-box>

                <h1>欢迎使用小小说说</h1>
                <p>要查看或发布动态，请先登录</p>

            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row brief">
                <div class="col-md-4">
                    <h2>发布动态</h2>
                    <p>你可以随时把开心的，伤心的，好玩的，有意思的事跟大家分享，只要你愿意。</p>
                </div>
                <div class="col-md-4">
                    <h2>查看动态</h2>
                    <p>你可以看看别人都碰到了哪些好玩的事，遇到了哪些有趣的人。你也可以点赞，评论。</p>

                </div>
                <div class="col-md-4">
                    <h2>查看成员</h2>
                    <p>在这里，你可以知道使用小小说说的都是哪些人，他们都有哪些好玩的点子。</p>
                </div>
            </div>
        </div> <!-- /container -->
        <div class="footer">
            <footer>
                <p>&copy; 2018 Company, Inc.</p>
            </footer>
        </div>
    </div>

<div v-else>
    <!--全部说说列表-->
    <div v-if="mainContainer" class="container main-container">
        <div class="jumbotron text-content-bg">
        <div class="container">
            <div class="row">
                    <textarea v-model.trim="inputStatusContent" v-on:keyup="changeLastNum" id="text-content" maxlength="300" class="form-control col-lg-12" rows="7"
                              placeholder="有什么想和大家分享的？"></textarea>
                <span id="last-num" class="col-lg-1 col-lg-offset-10">{{lastNum}}</span>
                <button v-on:click="sendStatus" id="btn-send" type="button" class="btn btn-success col-lg-1">发布</button>
            </div>

        </div>

    </div>
        <div class="container">
            <div class="panel-list">

                <div v-for="(result, index) in listResult" v-bind:class="isOwn(result)">
                    <span class="_id">{{result._id}}</span>
                    <div class="panel-heading">
                        <img v-bind:src="'/avatar/'+result.avatarPath" class="img-circle avatar-img panel-avatar">
                        <span class="panel-username">{{result.username}}</span>
                    </div>
                    <div class="panel-body">
                        <textarea v-bind:value="result.talkContent" disabled="disabled" class="col-lg-12 talk-content" rows="5"></textarea>
                    </div>
                    <div class="panel-footer">
                        <span class="time">{{(new Date(result.time)).toLocaleString()}}</span>
                        <span class="icon-two pull-right">
                            <a href="javascript:;" class="zan-number" v-bind:class="isZan(result)" v-on:click="zan(result)">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                <span>{{result.zanNum}}</span>
                            </a>
                            <!--评论面板小图标-->
                            <a href="javascript:;" data-toggle="collapse" class="comment-a" v-bind:data-target="'#collapsePanel'+index"
                               aria-expanded="false" aria-controls="collapsePanel">
                                <i class="glyphicon glyphicon-comment"></i>
                                <span class="comment-number">{{result.commentNum}}</span>
                            </a>
                        </span>
                        <!--评论面板-->
                        <div class="collapse comment-coll" v-bind:id="'collapsePanel'+index">
                            <div class="comment-content">
                                <div>
                                    <textarea v-model.trim="replyTextarea" maxlength="110" class="form-control reply-textarea" rows="3" placeholder=""></textarea>
                                    <button v-on:click="replayBtn(result)" type="button" class="btn btn-success pull-right">回复</button>
                                </div>
                                <!--评论列表-->
                                <ul class="list-group comment-list">

                                    <li v-for="comment in result.commentContent" class="list-group-item">
                                        <a v-on:click="replyToUser(comment)" href="javascript:;">{{comment.replyUser}}：</a>
                                        <span class="reply-content">{{comment.replyContent}}</span>
                                        <div class="reply-time">{{(new Date(comment.replyTime)).toLocaleString()}}</div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- /container -->
        <hr>
        <div>
            <footer>
                <p>&copy; 2018 Company, Inc.</p>
            </footer>
        </div>
    </div>
    <!--我的说说列表-->
    <div v-if="myTalklist" class="container my-talklist">
        <div class="panel-list">
            <div v-for="(result, index) in myTalkResult" class="panel panel-primary">
                <span class="_id">{{result._id}}</span>
                <div class="panel-heading">
                    <img v-bind:src="'/avatar/'+result.avatarPath" class="img-circle avatar-img panel-avatar">
                    <span class="panel-username">{{result.username}}</span>
                </div>
                <div class="panel-body">
                    <textarea v-bind:value="result.talkContent" disabled="disabled" class="col-lg-12 talk-content" rows="5"></textarea>
                </div>
                <div class="panel-footer">
                    <span class="time">{{(new Date(result.time)).toLocaleString()}}</span>
                    <span class="icon-two pull-right">
                        <a v-on:click="deleteMyTalk(result)" href="javascript:;" class="delete-talk">删除</a>
                        <a href="javascript:;" class="zan-number">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span>{{result.zanNum}}</span>
                        </a>
                        <!--评论面板小图标-->
                        <a href="javascript:;" data-toggle="collapse" v-bind:data-target="'#collapsePanel'+index"
                           aria-expanded="false" aria-controls="collapsePanel" class="comment-a">
                            <i class="glyphicon glyphicon-comment"></i>
                            <span class="comment-number">{{result.commentNum}}</span>
                        </a>
                    </span>
                    <!--评论面板-->
                    <div class="collapse comment-coll" v-bind:id="'collapsePanel'+index">
                        <div class="comment-content">

                            <!--评论列表-->
                            <ul class="list-group comment-list">

                                <li v-for="comment in result.commentContent" class="list-group-item">
                                    <a class="reply-user" href="javascript:;">{{comment.replyUser}}：</a>
                                    <span class="reply-content">{{comment.replyContent}}</span>
                                    <div class="reply-time">{{(new Date(comment.replyTime)).toLocaleString()}}</div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <footer>
                <p>&copy; 2018 Company, Inc.</p>
            </footer>
        </div>
    </div>
    <!--成员列表-->
    <div v-if="memberlist" class="container member-list">
        <div class="panel-list">
            <div v-for="(result, index) in memberResult" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">NO.{{index+1}}</h4>
                </div>
                <div class="panel-body list-inline">
                    <li class="userinfo-img">
                        <img v-bind:src="'/avatar/'+ result.avatarPath" class="img-circle">
                    </li>
                    <li class="user-info-li">
                        <ul class="user-info">
                            <li class="username text-primary"><a href="javascript:;">   {{result.username}}   </a></li>
                            <li class="brief-userinfo">总共发过<span class="text-primary">  {{result.sumTalk}}  </span>条动态</li>
                            <li class="brief-userinfo">获得过<span class="text-primary">  {{result.sumZan}}  </span>次赞</li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <footer>
                <p>&copy; 2018 Company, Inc.</p>
            </footer>
        </div>
    </div>
</div>


<!-- Modal -->
<!--修改个人信息的模态框-->
<div class="modal fade" id="modify-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改个人信息</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-dismissible modal-alert alert-danger" role="alert">
                    <strong></strong><span></span>
                </div>
                <form>
                    <div class="form-group">
                        <img v-bind:src="'/avatar/'+avatar" class="img-circle center-block avatar-img">
                    </div>
                    <div class="form-group center-block">
                        <a href="#" id="modi-avatar" data-toggle="modal" data-target="#avatar-modal" class="center-block" >修改头像 &gt;</a>
                    </div>
                    <div class="form-group">
                        <label for="old-pwd" class="control-label">旧密码:</label>
                        <input type="password" class="form-control" id="old-pwd">
                    </div>
                    <div class="form-group">
                        <label for="new-pwd" class="control-label">新密码:</label>
                        <input type="password" class="form-control" id="new-pwd">
                    </div>
                    <div class="form-group">
                        <label for="ok-new-pwd" class="control-label">确认新密码:</label>
                        <input type="password" class="form-control" id="ok-new-pwd">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-updata-pwd" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--修改头像模态框-->
<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--<form class="avatar-form" action="upload-logo.php" enctype="multipart/form-data" method="post">-->
            <form class="avatar-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="avatar-modal-label">修改头像</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input class="avatar-src" name="avatar_src" type="hidden">
                            <input class="avatar-data" name="avatar_data" type="hidden">
                            <label for="avatarInput" style="line-height: 35px;">图片上传</label>
                            <button class="btn" type="button" style="height: 35px;"
                                    onclick="$('input[id=avatarInput]').click();">请选择图片
                            </button>
                            <span id="avatar-name"></span>
                            <input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file">
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg" id="imageHead"></div>
                            </div>
                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-3 col-md-4">
                                <button class="btn btn-block avatar-save fa fa-save" type="button" data-dismiss="modal">
                                    保存修改
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="/js/jquery-3.3.1.min.js"></script>-->

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/cropper.js"></script>
<script src="/js/sitelogo.js"></script>
<script src="/js/html2canvas.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vue.js"></script>
<!--页面自身的js文件-->
<script src="/js/index-page.js"></script>

</body>
</html>
