<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>小小说说</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/index-page.css" rel="stylesheet">
    <link href="/css/cropper.min.css" rel="stylesheet">
    <link href="/css/sitelogo.css" rel="stylesheet">
</head>

<body>
<div id="show-index">
<!--网页的导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">小小说说</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li v-bind:class="{active:mainContainer}"><a v-on:click="allTalk" href="javascript:;">全部说说</a></li>
                <li v-bind:class="{active:myTalklist}"><a v-on:click="myTalk" href="javascript:;">我的说说</a></li>
                <li v-bind:class="{active:memberlist}"><a v-on:click="members" href="javascript:;">成员列表</a></li>
            </ul>

            <div v-if="unlogin" class="navbar-form navbar-right">
                <div id="login-form" class="login-form">
                    <div class="form-group">
                        <input v-model="inputUsername" v-on:keyup.enter="loginMethod" type="text" placeholder="昵称(至少3位 可以中文)" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <input v-model="inputPassword" v-on:keyup.enter="loginMethod" type="password" placeholder="密码(至少6位)" class="form-control" id="password">
                    </div>
                    <button v-on:click="loginMethod" id="btn-login" class="btn btn-success">登录</button>
                    <button v-on:click="signinMethod" id="btn-signin" class="btn btn-success">注册</button>
                </div>
            </div>

            <ul v-else class="nav navbar-nav navbar-right">
                <li>
                    <a v-on:click="myTalk" href="javascript:;">
                        <img v-bind:src="'/avatar/'+avatar" class="img-circle avatar-img">
                    </a>
                </li>
                <li><a href="#" class="own-username">{{username}}</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modify-profile">修改个人资料</a></li>
                <li><a href="#" v-on:click="quitMethod" id="btn-quit">退出登录</a></li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div v-if="unlogin" class="container-fluid brief-fluid">
        <div class="jumbotron">
            <div class="container">
                <transition name="slide">
                <alert-box v-if="alertDis" v-bind:text1="text1" v-bind:text2="text2"></alert-box>
                </transition>
                <h1>欢迎使用小小说说</h1>
                <p>要查看或发布动态，请先登录</p>

            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row brief">
                <div class="col-md-4">
                    <h2>发布动态</h2>
                    <p>你可以随时把开心的，伤心的，好玩的，有意思的事跟大家分享，只要你愿意。</p>
                </div>
                <div class="col-md-4">
                    <h2>查看动态</h2>
                    <p>你可以看看别人都碰到了哪些好玩的事，遇到了哪些有趣的人。你也可以点赞，评论。</p>

                </div>
                <div class="col-md-4">
                    <h2>查看成员</h2>
                    <p>在这里，你可以知道使用小小说说的都是哪些人，他们都有哪些好玩的点子。</p>
                </div>
            </div>
        </div> <!-- /container -->
        <div class="footer">
            <footer>
                <p>&copy; 2018 Company, Inc.</p>
            </footer>
        </div>
    </div>

<div v-else>

    <!--全部说说列表-->
    <transition name="slide" appear>
    <div v-if="mainContainer" class="container main-container">
        <div class="jumbotron text-content-bg">
        <div class="container">
            <div class="row">
                <textarea v-model.trim="inputStatusContent" v-on:keyup="changeLastNum" id="text-content" maxlength="300" class="form-control col-lg-12" rows="7"
                              placeholder="有什么想和大家分享的？"></textarea>
                <div class="col-lg-1">
                    <label id="select-picture" for="file-upload" class="glyphicon glyphicon-picture"></label>
                    <input v-on:change="uploadImg($event)" id="file-upload" name="imageUpload" type="file" accept="image/*" multiple=true>
                </div>

                <span id="last-num" class="col-lg-1 col-lg-offset-9">{{lastNum}}</span>
                <button v-on:click="sendStatus" id="btn-send" type="button" class="btn btn-success col-lg-1">发布</button>
                <transition name="slide-image">
                    <div v-if="imagesShow" class="col-lg-12 talk-images">
                        <img v-for="file in files" v-bind:src="file" class="thumbnail col-lg-2">
                    </div>
                </transition>
            </div>

        </div>

    </div>
        <div class="container">
            <div class="panel-list">
                <div v-for="(result, index) in listResult" v-bind:class="isOwn(result)">
                    <span class="_id">{{result._id}}</span>
                    <div class="panel-heading">
                        <img v-bind:src="'/avatar/'+result.avatarPath" class="img-circle avatar-img panel-avatar">
                        <span class="panel-username">{{result.username}}</span>
                    </div>
                    <div class="panel-body">
                        <textarea v-bind:value="result.talkContent" disabled="disabled" class="col-lg-12 talk-content" rows="5"></textarea>
                        <div v-if="showImagesCon(result)" class="col-lg-12 talk-images">
                            <img v-for="image in result.talkImages" v-bind:src="image" class="thumbnail col-lg-2">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="time">{{(new Date(result.time)).toLocaleString()}}</span>
                        <span class="icon-two pull-right">
                            <a href="javascript:;" class="zan-number" v-bind:class="isZan(result)" v-on:click="zan(result)">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                <span>{{result.zanNum}}</span>
                            </a>
                            <!--评论面板小图标-->
                            <a href="javascript:;" data-toggle="collapse" class="comment-a" v-bind:data-target="'#collapsePanel'+index"
                               aria-expanded="false" aria-controls="collapsePanel">
                                <i class="glyphicon glyphicon-comment"></i>
                                <span class="comment-number">{{result.commentNum}}</span>
                            </a>
                        </span>
                        <!--评论面板-->
                        <div class="collapse comment-coll" v-bind:id="'collapsePanel'+index">
                            <div class="comment-content">
                                <div>
                                    <textarea v-model.trim="replyTextarea" maxlength="110" class="form-control reply-textarea" rows="3" placeholder=""></textarea>
                                    <button v-on:click="replayBtn(result)" type="button" class="btn btn-success pull-right">回复</button>
                                </div>
                                <!--评论列表-->
                                <ul class="list-group comment-list">

                                    <li v-for="comment in result.commentContent" class="list-group-item">
                                        <a v-on:click="replyToUser(comment)" href="javascript:;">{{comment.replyUser}}：</a>
                                        <span class="reply-content">{{comment.replyContent}}</span>
                                        <div class="reply-time">{{(new Date(comment.replyTime)).toLocaleString()}}</div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
        <hr>
        <div>
            <footer>
                <p>&copy; 2018 Company, Inc.</p>
            </footer>
        </div>
    </div>
    </transition>

    <!--我的说说列表-->
    <transition name="slide">
    <div v-if="myTalklist" class="container my-talklist">
        <div class="panel-list">
            <div v-for="(result, index) in myTalkResult" class="panel panel-primary">
                <span class="_id">{{result._id}}</span>
                <div class="panel-heading">
                    <img v-bind:src="'/avatar/'+result.avatarPath" class="img-circle avatar-img panel-avatar">
                    <span class="panel-username">{{result.username}}</span>
                </div>
                <div class="panel-body">
                    <textarea v-bind:value="result.talkContent" disabled="disabled" class="col-lg-12 talk-content" rows="5"></textarea>
                    <div v-if="showImagesCon(result)" class="col-lg-12 talk-images">
                        <img v-for="image in result.talkImages" v-bind:src="image" class="thumbnail col-lg-2">
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="time">{{(new Date(result.time)).toLocaleString()}}</span>
                    <span class="icon-two pull-right">
                        <a v-on:click="deleteMyTalk(result)" href="javascript:;" class="delete-talk">删除</a>
                        <a href="javascript:;" class="zan-number">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span>{{result.zanNum}}</span>
                        </a>
                        <!--评论面板小图标-->
                        <a href="javascript:;" data-toggle="collapse" v-bind:data-target="'#collapsePanel'+index"
                           aria-expanded="false" aria-controls="collapsePanel" class="comment-a">
                            <i class="glyphicon glyphicon-comment"></i>
                            <span class="comment-number">{{result.commentNum}}</span>
                        </a>
                    </span>
                    <!--评论面板-->
                    <div class="collapse comment-coll" v-bind:id="'collapsePanel'+index">
                        <div class="comment-content">

                            <!--评论列表-->
                            <ul class="list-group comment-list">

                                <li v-for="comment in result.commentContent" class="list-group-item">
                                    <a class="reply-user" href="javascript:;">{{comment.replyUser}}：</a>
                                    <span class="reply-content">{{comment.replyContent}}</span>
                                    <div class="reply-time">{{(new Date(comment.replyTime)).toLocaleString()}}</div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <footer>
                <p>&copy; 2018 Company, Inc.</p>
            </footer>
        </div>
    </div>
    </transition>

    <!--成员列表-->
    <transition name="slide">
    <div v-if="memberlist" class="container member-list">
        <div class="panel-list">
            <div v-for="(result, index) in memberResult" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">NO.{{index+1}}</h4>
                </div>
                <div class="panel-body list-inline">
                    <li class="userinfo-img">
                        <img v-bind:src="'/avatar/'+ result.avatarPath" class="img-circle">
                    </li>
                    <li class="user-info-li">
                        <ul class="user-info">
                            <li class="username text-primary"><a href="javascript:;">   {{result.username}}   </a></li>
                            <li class="brief-userinfo">总共发过<span class="text-primary">  {{result.sumTalk}}  </span>条动态</li>
                            <li class="brief-userinfo">获得过<span class="text-primary">  {{result.sumZan}}  </span>次赞</li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <footer>
                <p>&copy; 2018 Company, Inc.</p>
            </footer>
        </div>
    </div>
    </transition>
</div>


<!-- Modal -->
<!--修改个人信息的模态框-->
<div class="modal fade" id="modify-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改个人信息</h4>
            </div>
            <div class="modal-body">
                <alert-box v-if="alertDis2" v-bind:text1="text1" v-bind:text2="text2"></alert-box>
                <form>
                    <div class="form-group">
                        <img v-bind:src="'/avatar/'+avatar" class="img-circle center-block avatar-img">
                    </div>
                    <div class="form-group center-block">
                        <a href="#" id="modi-avatar" data-toggle="modal" data-target="#avatar-modal" class="center-block" >修改头像 &gt;</a>
                    </div>
                    <div class="form-group">
                        <label for="old-pwd" class="control-label">旧密码:</label>
                        <input type="password" class="form-control" id="old-pwd">
                    </div>
                    <div class="form-group">
                        <label for="new-pwd" class="control-label">新密码:</label>
                        <input type="password" class="form-control" id="new-pwd">
                    </div>
                    <div class="form-group">
                        <label for="ok-new-pwd" class="control-label">确认新密码:</label>
                        <input type="password" class="form-control" id="ok-new-pwd">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button v-on:click="updatePwd" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--修改头像模态框-->
<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--<form class="avatar-form" action="upload-logo.php" enctype="multipart/form-data" method="post">-->
            <form class="avatar-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="avatar-modal-label">修改头像</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input class="avatar-src" name="avatar_src" type="hidden">
                            <input class="avatar-data" name="avatar_data" type="hidden">
                            <label for="avatarInput" style="line-height: 35px;">图片上传</label>
                            <button class="btn" type="button" style="height: 35px;"
                                    onclick="$('input[id=avatarInput]').click();">请选择图片
                            </button>
                            <span id="avatar-name"></span>
                            <input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file">
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg" id="imageHead"></div>
                            </div>
                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-3 col-md-4">
                                <button class="btn btn-block avatar-save fa fa-save" type="button" data-dismiss="modal">
                                    保存修改
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="/js/jquery-3.3.1.min.js"></script>-->

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/cropper.js"></script>
<script src="/js/sitelogo.js"></script>
<script src="/js/html2canvas.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vue.js"></script>

<!--页面自身的js文件-->
<script>


    Vue.component('alert-box', {
        props:['text1','text2'],
        template: `
                    <div class="alert alert-danger" role="alert">
                         <strong>{{text1}}</strong><span>{{text2}}</span>
                    </div>
                  `
    });


    var indexShow = new Vue({
        el:'#show-index',
        data: {
            //页面初始化参数
            unlogin:true,
            username:'',
            avatar:'',
            listResult: [],
            //登陆注册输入框参数
            inputUsername:'',
            inputPassword:'',
            //发表动态文本框参数
            inputStatusContent:'',
            lastNum:300,
            // 控制三个页面切换参数
            mainContainer:true,
            myTalklist:false,
            memberlist:false,
            // 我的说说页面数据
            myTalkResult:[],
            //所有用户页面数据
            memberResult:[],
            //回复框中的值
            replyTextarea:'',
            //是否显示警告框
            alertDis:false,
            alertDis2:false,
            //警告框中的信息
            text1:'',
            text2:'',
            //文件选择
            files:null,
            imagesShow:false
        },
        created: function () {
            var _this = this;
            $.get('/getindexdata',function(data, status){
                _this.unlogin = data.unlogin;
                _this.username = data.username;
                _this.avatar = data.avatar;
                _this.listResult = data.listResult;
                for(var i=0;i<_this.listResult.length;i++){
                    if(_this.myTalkResult.indexOf(_this.listResult[i])==-1 &&
                        _this.listResult[i].username == _this.username){
                        _this.myTalkResult.push(_this.listResult[i]);
                    }
                }
            });
        },
        methods: {

            //判断当前的动态点赞图标是否应该高亮
            isZan: function (result) {

                if(result.zanPerson.indexOf(this.username) != -1){
                    return {
                        'zaned':true
                    };
                }else{
                    return {
                        'zaned':false
                    };
                }
            },
            //给自己的动态添加样式
            isOwn:function(result){
                if(result.username==this.username){
                    return {
                        'panel':true,
                        'panel-default':false,
                        'panel-primary':true
                    }
                }else{
                    return {
                        'panel':true,
                        'panel-default':true,
                        'panel-primary':false
                    }
                }
            },
            //登录按钮点击
            loginMethod: function(){
                var _this = this;
                if(!this.inputUsername||!this.inputPassword){

                    this.alertDis = true;
                    this.text1 = '注意！';
                    this.text2 = '用户名和密码不能为空';
                    return;
                }
                if(this.inputUsername.length<3 || this.inputPassword.length<6){

                    this.alertDis = true;
                    this.text1 = '注意！';
                    this.text2 = '用户名要多于3位 密码要多于6位';
                    return;
                }
                $.post('/dologin', {
                    username: this.inputUsername,
                    password: this.inputPassword
                }, function(data, status){
                    if(data.result==1){
                        //登录成功
                        window.location.href="/";
                    }
                    else if(data.result==-1){
                        // 用户名不存在

                        _this.alertDis = true;
                        _this.text1 = '登录失败！';
                        _this.text2 = '用户名不存在';
                    }
                    else if(data.result==-2){
                        // 密码错误

                        _this.alertDis = true;
                        _this.text1 = '登录失败！';
                        _this.text2 = '密码错误';
                    }else{
                        // 未知错误
                        //alertDanger('登录失败！', '未知错误');
                        _this.alertDis = true;
                        _this.text1 = '登录失败！';
                        _this.text2 = '未知错误';
                    }
                });
            },
            // 注册按钮点击事件
            signinMethod: function(){
                var _this = this;
                if(!this.inputUsername||!this.inputPassword){

                    _this.alertDis = true;
                    _this.text1 = '注意！';
                    _this.text2 = '用户名和密码不能为空';
                    return;
                }
                if(this.inputUsername.length<3 || this.inputPassword.length<6){

                    _this.alertDis = true;
                    _this.text1 = '注意！';
                    _this.text2 = '用户名要多于3位 密码要多于6位';
                    return;
                }
                $.post('/dosign', {
                    username: this.inputUsername,
                    password: this.inputPassword
                }, function(data, status){
                    if(data.result==1){
                        window.location.href="/";
                    }
                    else if(data.result == -2){
                        // 未知错误

                        _this.alertDis = true;
                        _this.text1 = '注册失败';
                        _this.text2 = '未知错误';
                    }
                    else{
                        // 注册失败

                        _this.alertDis = true;
                        _this.text1 = '注册失败';
                        _this.text2 = '用户名已存在';
                    }
                });
            },
            // 发送动态按钮点击事件
            sendStatus: function(){
                if(this.inputStatusContent.length==0){
                    return;
                }
                var _this = this;
                $.get('/sendstate', {
                    'talkContent': this.inputStatusContent,
                    'talkImages':_this.files
                }, function(data, status){
                    if(data.result==1){
                        var newStatus = {
                            _id:data._id,
                            avatarPath:_this.avatar,
                            commentContent:[],
                            commentNum:0,
                            talkContent:_this.inputStatusContent,
                            time:(new Date()),
                            username:_this.username,
                            zanNum:0,
                            zanPerson:[],
                            talkImages:_this.files,
                        };
                        _this.listResult.unshift(newStatus);
                        _this.myTalkResult.unshift(newStatus);
                        _this.inputStatusContent='';
                        _this.lastNum = 300;
                        _this.imagesShow = false;
                        _this.files = null;
                    }else{

                    }
                });
            },
            //判断动态列表中的图片容器是否需要显示
            showImagesCon: function(result){
                if(!result.talkImages || result.talkImages.length==0){
                    return false;
                }else{
                    return true;
                }
            },
            // 监听发送动态文本框的改变
            changeLastNum: function(){
                var size = this.inputStatusContent.length;
                this.lastNum = 300 - size;
            },
            // 退出账户
            quitMethod: function () {
                $.get('/quit',function(data, status){
                    if(data.result==1){
                        window.location.href = '/';
                    }else{
                        alertDanger('错误', '退出失败');
                    }
                });
            },
            // 显示所有说说页面
            allTalk: function () {
                this.mainContainer = true;
                this.myTalklist = false;
                this.memberlist = false;
            },
            // 显示我的说说页面
            myTalk: function () {
                var _this = this;
                _this.mainContainer = false;
                _this.memberlist = false;
                _this.myTalklist = true;
            },
            // 显示成员列表页面
            members: function () {
                this.mainContainer = false;
                this.myTalklist = false;
                this.memberlist = true;
                var _this = this;
                $.get('/allmembers', function(data, status) {
                    if (data.result == 1) {
                        var userList = data.userlist;
                        var talkList = data.talklist;
                        var rst = [];
                        for (var i = 0; i < userList.length; i++) {
                            var sumZan = 0;
                            var sumTalk = 0;
                            var username = userList[i].username;
                            var avatarPath = userList[i].avatar;
                            for (var j = 0; j < talkList.length; j++) {
                                if (talkList[j].username == username) {
                                    sumZan += talkList[j].zanNum;
                                    sumTalk++;
                                }
                            }
                            rst.push({
                                'username': username,
                                'avatarPath': avatarPath,
                                'sumZan': sumZan,
                                'sumTalk': sumTalk
                            });
                        }
                        rst.sort(function (a, b) {
                            var s = a.sumZan;
                            var t = b.sumZan;
                            if (s < t) return 1;
                            if (s > t) return -1;
                        });
                        _this.memberResult = rst;
                    }
                });
            },
            //删除我的说说
            deleteMyTalk:function (currList) {
                var _this = this;
                $.get('/deletetalk', {
                    '_id':currList._id
                }, function(data, status){
                    if(data.result==1){
                        var index = _this.myTalkResult.indexOf(currList);
                        _this.myTalkResult.splice(index, 1);
                        index = _this.listResult.indexOf(currList);
                        _this.listResult.splice(index, 1);
                    }
                });
            },
            // 点赞
            zan: function (currList) {
                var _this = this;
                if(currList.zanPerson.indexOf(_this.username) != -1){
                    $.get('/docancelzan',{
                        '_id':currList._id
                    }, function (data, status) {
                        if(data.result==1){
                            //取消赞高亮
                            currList.zanPerson.splice(currList.zanPerson.indexOf(_this.username),1);
                            currList.zanNum -= 1;
                            return;
                        }
                    });
                }else{
                    $.get('/dozan', {
                        '_id':currList._id
                    }, function(data, status){
                        if(data.result==1){
                            // 添加赞高亮
                            currList.zanPerson.push(_this.username);
                            currList.zanNum += 1;
                            return;
                        }
                    });
                }
            },
            //回复按钮
            replayBtn: function(currList){
                var _this = this;
                if(_this.replyTextarea.length==0){
                    return;
                }
                $.get('/replay',{
                    'textContent':_this.replyTextarea,
                    'replyUsername': currList.username,
                    '_id': currList._id
                }, function(data, status){
                    if(data.result==1){
                        currList.commentContent.unshift({
                            'replyUser':data.replyUser,
                            'replyContent':_this.replyTextarea,
                            'replyTime':data.replyTime
                        });
                        currList.commentNum += 1;
                        _this.replyTextarea = '';
                    }
                });
            },
            // 评论中回复
            replyToUser: function (comment) {
                this.replyTextarea = '@'+comment.replyUser+'： ';
            },
            // 修改密码模态框的确定按钮
            updatePwd: function () {
                var oldPwd = document.getElementById('old-pwd').value;
                var newPwd = document.getElementById('new-pwd').value;
                var okNewPwd = document.getElementById('ok-new-pwd').value;
                console.log(oldPwd,newPwd,okNewPwd);
                var _this = this;
                if(!oldPwd || !newPwd || !okNewPwd){

                    _this.alertDis2 = true;
                    _this.text1 = '注意！';
                    _this.text2 = '输入框不能为空';
                    return;
                }

                if(oldPwd.length < 6 || newPwd.length < 6 || okNewPwd.length < 6){

                    _this.alertDis2 = true;
                    _this.text1 = '注意！';
                    _this.text2 = '密码应不少于6位';
                    return;
                }

                if(newPwd != okNewPwd){

                    _this.alertDis2 = true;
                    _this.text1 = '注意！';
                    _this.text2 = '两次输入的密码不一致';
                    return;
                }

                $.post('/updatepwd', {
                    oldPwd:oldPwd,
                    newPwd:newPwd
                }, function(data, status){
                    if(data.result==1){
                        $('#modify-profile').modal('hide');
                        window.location.href = '/';
                    }
                    else if(data.result==-1){

                        _this.alertDis2 = true;
                        _this.text1 = '未知错误！';
                        _this.text2 = '修改失败';
                    }
                    else if(data.result==-2){

                        _this.alertDis2 = true;
                        _this.text1 = '修改失败！';
                        _this.text2 = '旧密码不正确';
                    }
                    else if(data.result==-3){

                        _this.alertDis2 = true;
                        _this.text1 = '修改失败！';
                        _this.text2 = '新密码不能与旧密码相同';
                    }
                });
            },
            // 上传图片
            uploadImg: function (event) {
                var _this = this;
                this.files = event.target.files;
                let form = new FormData();
                var imgNum = 0;
                if(this.files.length>3){
                    imgNum = 3;
                }else{
                    imgNum = this.files.length;
                }
                for(let i=0;i<imgNum;i++){
                    form.append('imgs', this.files[i]);
                }

                $.ajax({
                    url: "/uploadImg",
                    data: form,
                    type: "post",
                    processData: false,
                    contentType : false,
                    dataType: 'json',
                    success: function (re) {
                        if(re.result==1){
                           _this.files = re.imgList;
                           _this.imagesShow = true;
                           document.getElementById('file-upload').value = '';
                        }
                    }
                });
            },

        }
    });

    // 上传修改头像
    //做个下简易的验证  大小 格式
    $('#avatarInput').on('change', function (e) {
        var filemaxsize = 1024 * 5; //5M
        var target = $(e.target);
        var Size = target[0].files[0].size / 1024;
        if (Size > filemaxsize) {
            alert('图片过大，请重新选择!');
            $(".avatar-wrapper").childre().remove;
            return false;
        }
        if (!this.files[0].type.match(/image.*/)) {
            alert('请选择正确的图片!')
        } else {
            var filename = document.querySelector("#avatar-name");
            var texts = document.querySelector("#avatarInput").value;
            var teststr = texts;
            testend = teststr.match(/[^\\]+\.[^\(]+/i);
            filename.innerHTML = testend;
        }

    });
    $(".avatar-save").on("click", function () {
        if($.trim($('#avatar-name').text()).length==0){
            return;
        }
        var img_lg = document.getElementById('imageHead');
        // 截图小的显示框内的内容
        html2canvas(img_lg, {
            allowTaint: true,
            taintTest: false,
            onrendered: function (canvas) {
                canvas.id = "mycanvas";
                //生成base64图片数据
                var dataUrl = canvas.toDataURL("image/jpeg");
                var newImg = document.createElement("img");
                newImg.src = dataUrl;
                imagesAjax(dataUrl)
            }
        });
    });
    function imagesAjax(src) {
        var data = {};
        data.img = src;
        data.jid = $('#jid').val();
        $.ajax({
            url: "/modiavatar",
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (re) {
                window.location.href = '/';
            }
        });
    }


</script>
</body>
</html>
